node_modules
.cache-loader
.docusaurus
build
coverage
*.log
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode
.idea
*.iml
dist
.terraform
*.tfstate
*.tfstate.backup
.env
.superpowers/
